PORT=5001
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=kure_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://your_user:your_password@db:5432/kure_db?schema=public"

AWS_REGION=eu-central-1
IMAGES_BUCKET_NAME=
IMAGES_CDN_DOMAIN=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=